.main {
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}
.container {
  background-color: var(--surface);
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  gap: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 2rem;
}

.inp {
  padding-bottom: 10px;

  input {
    width: 100%;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background: var(--accent);
    font-size: 1rem;
    color: var(--border);
    font-weight: 500;

    &:focus {
      box-shadow: 0 0 0 2px #facc15;
    }

    &::placeholder {
      color: var(--muted);
    }
  }
}

.button {
  font-size: 1.1rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid var(--border);
  background: var(--accent);
  cursor: pointer;

  &:hover {
    background: #facc15;
    transform: scale(1.02);
  }
}

.createOne {
  padding-top: 1rem;
  text-align: center;
}

.link {
  color: var(--link);
}

.error {
  color: var(--error);
  font-size: 0.8rem;
}
